@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}


body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}


:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}
